html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: maroon;
}

h1{
  font-family: 'Source Code Pro', monospace;
  color:white;
}

h2{
  color:white;
}

p{
  color:white;
}

.about{
  color: white;
  display:flex;
  justify-content:center ;
  word-wrap:break-word ;
  width:150px ;
  border:1px  ;
}



ul{
  list-style:none ;
  margin: 0;
  padding: 0;
  border:2px solid;
  
  border-radius: 25px;
  

}

li{
  color:white ;
  display: inline,flex;
  text-align:center ;
  padding: 10px;
  
}


.me{
  display: flex;
  justify-content: flex-start;
  width: 50%;
  
}